<div class="welcome-container">
  <div class="welcome-box">
    <!-- Hello message begins -->
    <div class="hello-div">
      <span class="cg-header">
        Hello There!
      </span>
    </div>
    <!-- Hello message ends -->
    <!-- Insurance message begins -->
    <div class="insurance-div">
      <span>
        Let's buy some insurance. It is going to take only few steps
      </span>
    </div>
    <!-- Insurance message ends -->
    <!-- Button begins -->
    <div class="button-div">
      <button class="cg-primary-button" routerLink="/user-details">
        Start
      </button>
    </div>
    <!-- Button ends -->
  </div>
</div>